@model EventsApplication.Domain.DomainModels.Schedule

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<h4>Schedule</h4>

<table class="table">
    <thead>
        <tr>
            <th>Event Date</th>
            <th>Event Title</th>
            <th>Event Location</th>
            <th>Event Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.EventInSchedules)
        {
            <tr>
                <td>@item.Event.Date</td>
                <td>@item.Event.Title</td>
                <td>@item.Event.Location</td>
                <td>@item.Event.Price</td>
            </tr>
        }
    </tbody>
</table>

<div>
    <p>Total Price: </p>
    @Model.EventInSchedules.Sum(x => x.Quantity)
</div>
